## Different methods of Dealing with missing values
##### 1. Delete column
##### 2. Delete row
##### 3. Imputation
##### 4. Advance Imputation

In [13]:
import pandas as pd

In [31]:
df = pd.read_csv("../AB_NYC_2019.csv")

In [15]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

### 1. Deleting column

In [4]:
data1 = df

In [5]:
data1.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [6]:
data1.drop("last_review", axis=1,inplace=True)
data1.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

### 2. Deleting row

In [7]:
data2 = df

In [8]:
data2.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [9]:
data2.dropna(inplace = True)
data2.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

### 3. Imputation using mean,median and mode

In [16]:
data3 = df.copy()

In [17]:
data3.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [21]:
mean_val = data3["reviews_per_month"].mean()
data3["reviews_per_month"].fillna(mean_val,inplace = True)

In [22]:
data3["reviews_per_month"].isnull().sum()

0

#### Categorical Data

In [23]:
data3.nunique()

id                                48895
name                              47905
host_id                           37457
host_name                         11452
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               674
minimum_nights                      109
number_of_reviews                   394
last_review                        1764
reviews_per_month                   938
calculated_host_listings_count       47
availability_365                    366
dtype: int64

In [28]:
max = data3["last_review"].value_counts().index[0]
data3["last_review"].fillna(max, inplace = True)

In [29]:
data3.isnull().sum()

id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [30]:
df.isna().sum()

id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [32]:
data4 = df.copy()

In [33]:
data4.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [37]:
data4["last_review"].fillna("Not_Reviewed", inplace = True) #adds new categories

In [38]:
data4.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
41991,32634964,Sonder | Stock Exchange | Dashing 2BR + Kitchen,219517861,Sonder (NYC),Manhattan,Financial District,40.70652,-74.01048,Entire home/apt,396,2,6,2019-05-28,1.80,327,323
20592,16365878,"Near the City, Classic Brooklyn!",107177716,Yuki,Brooklyn,Bedford-Stuyvesant,40.68712,-73.94708,Entire home/apt,130,2,168,2019-06-29,5.45,1,203
32264,25234732,"Gorgeous, charming upper east side one bedroom",1497427,Andrea,Manhattan,Upper East Side,40.77416,-73.95010,Entire home/apt,120,3,12,2019-06-15,1.03,2,105
38478,30284324,Central park cheap sofa bed,214135354,Min,Manhattan,Upper East Side,40.77754,-73.95114,Shared room,55,1,66,2019-07-01,9.12,2,309
17122,13571116,Private Room in Large Airy Apartment,54797779,Sofia,Manhattan,Harlem,40.82004,-73.95063,Private room,40,2,3,2017-01-23,0.10,1,0
25508,20412884,2 Bedroom + 2 Bathrooms | Excellent Location,143477365,Val,Manhattan,Midtown,40.75878,-73.97069,Entire home/apt,409,1,87,2019-06-19,3.86,1,40
39764,30935446,Private Bedroom next to Times Square,231161473,Lorenzo,Manhattan,Hell's Kitchen,40.76194,-73.99122,Private room,83,2,1,2018-12-23,0.15,1,0
3197,1908986,NYC UES APT RENTAL,9906590,Evan,Manhattan,Upper East Side,40.77785,-73.94540,Entire home/apt,350,1,0,Not_Reviewed,NaN,1,0
12428,9576230,Penthouse Room in Williamsburg,10619345,Max,Brooklyn,Williamsburg,40.71570,-73.96011,Private room,49,1,1,2016-02-15,0.02,1,0
35669,28313685,Cozy room close to the city center 61F1,190921808,John,Manhattan,Hell's Kitchen,40.75545,-73.99652,Private room,120,30,2,2019-03-27,0.21,47,351

### Advance imputations
using interpolate function
if 5th row is empty then uses 4th and 6th value to fill 5th row (used for int value only)

In [39]:
data5 = df.copy()

In [40]:
data5.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [45]:
data5["reviews_per_month"].interpolate(inplace = True)

In [46]:
data5.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64